@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2BA52;
}

main {
    position: relative;
    width: 95%;
    height: 90vh;
    max-width: 700px;
    max-height: 500px;
    aspect-ratio: 9/16;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    box-shadow:inset 4px 4px 10px rgba(0, 0, 0, 0.329);
    
}

iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97%;
    height: 97%;
    border-radius: 20px;
}